root = true

[*]
indent_style = space
indent_size = 4
charset = utf-8

[*.md]
trim_trailing_whitespace = false
indent_size = 2
indent_style = space

[*.json]
indent_style = space
indent_size = 2

[*.yml]
indent_size = 2
indent_style = space
